@model IEnumerable<DotnetCRUD.Models.Employee>

@{
    ViewData["Title"] = "Index";
}


<div class="d-flex justify-content-end pb-2">
    <a asp-action="AddorEdit" class="btn btn-outline-success"><i class="fas fa-plus"></i> Novo Funcionário</a>
</div>
<h1>Lista de Funcionários</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td class="d-flex">
                <a asp-action="AddorEdit" asp-route-id="@item.EmployeeId" class="px-2"><i class="fas fa-edit justify-content-center d-flex"></i> Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeId" class="px-2"><i class="far fa-list-alt justify-content-center d-flex"></i> Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeId" class="px-2 text-danger"><i class="far fa-trash-alt justify-content-center d-flex"></i> Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
